pbr>=0.6,!=0.7,<1.0

pecan>=0.4.5
PasteDeploy>=1.5.0
netaddr>=0.7.6
-e git+git://github.com/openstack/keystonemiddleware.git#egg=keystonemiddleware

sqlalchemy>=0.9.4
PyMySQL>=0.6.2
psycopg2

oslo.config>=1.2.1
oslo.db>=1.0.2
oslo.serialization>=1.0.0
oslo.utils>=0.3.0